:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-iris: #4d5ae5;
  --navi-blue: #2e2f42;
  --slate: #434455;
  --solid: #ffffff;
  --ocean:#404bbf;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
   --dairy: #fcfcfc;
}
/* ---------- Body ------ */
body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--solid)
}
.list {list-style: none;
}


<!--Heaadersection-- > 
.header {
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-studio {
   font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue);
  
}
.link-studio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.link-portfolio {
    font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.link-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.mail {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.phone {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
<!--Zagolovok-- > 
.heading-image {
  font-family: var(--primary-font);
  color: var(--solid);
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;

}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn {
  font-family:var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--solid);
  background-color: var(--color-iris);
}

<!--Section1-- > 
.strategy {
  
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.strategy-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.punctuality {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.punctuality-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.diligence {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.diligence-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate)
}
.technologies {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

.technologies-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate);
}
<!--Section2-- > 
.section2 {
  font-family:var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}
.img-item-one {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
 
}
.img-item-two {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  
}
.img-item-three {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  
}
<!--Section3-- > 
.section3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:var(--navi-blue);

}
.img-team-mark {
  width: 264px;
  height: 260px;
}
.name {
  font-family:var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
.profession {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.img-team-tom {
  width: 264px;
  height: 260px;
}
.img-team-daniel {
  width: 264px;
  height: 260px;
}
.img-team-camila {
  width: 264px;
  height: 260px;
}
/* ---Footer----*/
.logo-footer {
  font-family: var(--secondary-font);
    font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-studio-footer {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--cloud)
}
.footer-text{
 font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: var(--cloud)
}