



:root{
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --color-iris: #4D5AE5;
    --navi-blue: #2E2F42;
}
<!--Heaadersection-->
.header{

}
.logo{
    font-family: var(--secondary-font);
    font-weight:800;
    font-size:18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}
